<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Font Reference - iconos imx</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="icon" data-icon="A"></div>
    <div class="icon" data-icon="B"></div>
    <div class="icon" data-icon="C"></div>
    <div class="icon" data-icon="D"></div>
    <div class="icon" data-icon="E"></div>
    <div class="icon" data-icon="F"></div>
    <div class="icon" data-icon="G"></div>
    <div class="icon" data-icon="H"></div>
    <div class="icon" data-icon="I"></div>
    <div class="icon" data-icon="J"></div>
    <div class="icon" data-icon="K"></div>
    <div class="icon" data-icon="L"></div>
    <div class="icon" data-icon="M"></div>
    <div class="icon" data-icon="N"></div>
    <div class="icon" data-icon="O"></div>
    <div class="icon" data-icon="P"></div>
    <div class="icon" data-icon="Q"></div>
    <div class="icon" data-icon="R"></div>
    <div class="icon" data-icon="S"></div>
    <div class="icon" data-icon="T"></div>
    <div class="icon" data-icon="U"></div>
    <div class="icon" data-icon="V"></div>
    <div class="icon" data-icon="W"></div>
    <div class="icon" data-icon="X"></div>
    <div class="icon" data-icon="Y"></div>
    <div class="icon" data-icon="Z"></div>

    <div class="icon" data-icon="a"></div>
    <div class="icon" data-icon="b"></div>
    <div class="icon" data-icon="c"></div>
    <div class="icon" data-icon="d"></div>
    <div class="icon" data-icon="f"></div>
    <div class="icon" data-icon="g"></div>
    <div class="icon" data-icon="h"></div>
    <div class="icon" data-icon="i"></div>
    <div class="icon" data-icon="j"></div>
    <div class="icon" data-icon="k"></div>
    <div class="icon" data-icon="l"></div>
    <div class="icon" data-icon="m"></div>
    <div class="icon" data-icon="n"></div>
    <div class="icon" data-icon="o"></div>
    <div class="icon" data-icon="p"></div>
    <div class="icon" data-icon="q"></div>
    <div class="icon" data-icon="r"></div>
    <div class="icon" data-icon="s"></div>
    <div class="icon" data-icon="t"></div>
    <div class="icon" data-icon="u"></div>
    <div class="icon" data-icon="v"></div>
    <div class="icon" data-icon="w"></div>
    <div class="icon" data-icon="x"></div>
    <div class="icon" data-icon="y"></div>
    <div class="icon" data-icon="z"></div>
  </body>